<%- include('header'); -%>
	<!--main-->
	<% if(typeof alert !='undefined' ) { %>
		<% alert.forEach(function(error) { %>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: firebrick;">
				<%= error.msg %>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button> -->
			</div>
			<% }) %>
				<% } %>
	<main class="main">		
		<div class="wrap">
			
			<div class="row">
				<!--three-fourth content-->
				<div class="col-lg-8">
					<form id="booking" method="post" action="/flight/bookFlight" class="static-content booking">
						<fieldset>
							<h2><span>01 </span>Traveller info</h2>
							<br>
							<div class="row">
								<div class="f-item col-lg-6">
									<label for="firstName">First name</label>
									<input type="text" id="firstName" name="firstName" />
								</div>
								<div class="f-item col-lg-6">
									<label for="lastName">Last name</label>
									<input type="text" id="lastName" name="lastName" />
								</div>
							</div>
							
							<div class="row">
								<div class="f-item col-lg-6">
									<label for="email">Email address</label>
									<input type="email" id="email" name="email" />
								</div>
								<div class="f-item col-lg-6">
									<label for="birthDate">Date of birth</label>
									<div class="datepicker-wrap"><input type="text"
										placeholder="" id="birthDate"
										name="birthDate" /></div>
								</div>
								<br>
								<br>
								<span class="info">You’ll receive a confirmation email</span>
							</div>
							
							<!-- <div class="row">
								<div class="f-item one-half">
									<label for="address">Street Address an Number</label>
									<input type="text" id="address" name="address" />
								</div>
								<div class="f-item one-half">
									<label for="city">Town / City</label>
									<input type="text" id="city" name="city" />
								</div>
							</div>
							
							<div class="row">
								<div class="f-item one-half">
									<label for="zip">ZIP Code</label>
									<input type="text" id="zip" name="zip" />
								</div>
								<div class="f-item one-half">
									<label for="country">Country</label>
									<input type="text" id="country" name="country" />
								</div>
							</div>
							
							<div class="row">
								<div class="f-item full-width">
									<label>Special requirements: <span>(Not Guaranteed)</span></label>
									<textarea rows="10" cols="10"></textarea>
								</div>
								<span class="info">Please write your requests in English.</span>
							</div> -->
							
							<div class="row">
								<div class="col-lg-6">
									<a href="/flight/flightOffer" title="Back to search" class="gradient-button">
										Back to search
									</a>
								</div>
								<div class="col-lg-6 ">
									<input type="submit" class="gradient-button" value="Proceed to next step" id="next-step" />
									<!-- <input type="submit" class="gradient-button" value="Back to Search" id="previous-step" /> -->
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!--//three-fourth content-->
				
				<div class="col-lg-4">
					<!--right sidebar-->
					<aside class="right-sidebar">
						<!--Booking details-->
						<article class="hotel-details booking-details">
							<h1>Flight Summary
								<span class="stars">
									<i class="material-icons">&#xE838;</i>
									<i class="material-icons">&#xE838;</i>
									<i class="material-icons">&#xE838;</i>
								</span>
							</h1>
							<span class="address"></span>
							<span class="rating"> 8 /10</span>
							<% if(typeof flight !='undefined' ) { %>
							<dl class="booking-info">
								<dt>From</dt>
								<dd><%= flight.departure_.iataCode_ %> </dd>
								<dt>To</dt>
								<dd><%= flight.arrival_.iataCode_ %> </dd>
								<dt>Departure Time</dt>
								<dd> <%= flight.departure_.at_ %> </dd>
								<dt>Arrival Time</dt>
								<dd> <%= flight.arrival_.at_ %> </dd>
							</dl>
							<div class="price">
								<p class="total">Total Price:  <%= flight.price_.total_ %> Euros</p>
								<p>VAT (20%) included</p>
							</div>
							<% } %>
						</article>
						<!--//Booking details-->
						
						<!--Need Help Booking?-->
						<article class="widget">
							<h4>Need Help Booking?</h4>
							<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
							<p class="number">1- 555 - 555 - 555</p>
						</article>
						<!--//Need Help Booking?-->
					</aside>
					<!--//right sidebar-->
				</div>
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
<%- include('footer'); -%>
