<%- include('header'); -%>
<%- include('search-header'); -%>
	<!--main-->
	<% if(typeof alert !='undefined' ) { %>
		<% alert.forEach(function(error) { %>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: firebrick;">
				<%= error.msg %>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button> -->
			</div>
			<% }) %>
				<% } %>
	<main class="main container">		
		<div class="wrap">
			
			<div class="row">
				<!--three-fourth content-->
				<div class="col-lg-8">
					<form id="booking" method="post" action="/hotel/bookHotel" class="static-content booking">
						<fieldset>
							<h2><span>01 </span>Traveller info</h2>
							<br>
							<div class="row">
								<div class="f-item col-lg-6">
									<label for="firstName">First name</label>
									<input type="text" id="firstName" name="firstName" required/>
								</div>
								<div class="f-item col-lg-6">
									<label for="lastName">Last name</label>
									<input type="text" id="lastName" name="lastName" required/>
								</div>
							</div>
							
							<div class="row">
								<div class="f-item col-lg-6">
									<label for="email">Email address</label>
									<input type="email" id="email" name="email" required/>
								</div>
								<div class="f-item col-lg-6">
									<label for="birthDate">Date of birth</label>
									<div class="datepicker-wrap"><input type="text"
										placeholder="" id="birthDate"
										name="birthDate" required/></div>
								</div>
								<br>
								<br>
								<span class="info">You’ll receive a confirmation email</span>
							</div>
							

							<div>
								<div class="max-width">
								  <section class="payment turquoise">
									<div class="grid-full padded-reverse">
									  <div class="grid-whole padded">
										<h1 style="font-size: 25px">Payment Infos</h1>
										<hr>
									  </div>
									  <div class="grid-7 padded m-grid-whole s-grid-whole xs-grid-whole">
										<form id="payment-form" action="/cards" accept-charset="UTF-8" method="post">
										  <input name="utf8" type="hidden" value="✓">
										  <div class="grid-whole">
											<label for="card-number">
											  <span class="upper-bryant small-bold">Card Number</span>
											</label>
											<input type="number" class="space" size="20" name="cardNumber" id="cardNumber" required>
										  </div>
										  <br>
										  <div class="grid-whole row padded-reverse">
											<div class="col-lg-3 padded">
											  <div class="grid-5">
												<label for="cvc">
												  <span class="upper-bryant small-bold">CVC</span>
												  <input type="number" class="space" size="4" name="cvc" id="cvcCode" name="cvcCode" required>
												</label>
											  </div>
											  <!-- <div class="grid-7 cvc-box center">
												<img class="cvc" src="http://www.thisisstar.com/images/100UI/002/cvc_opt.svg">
											  </div> -->
											</div>
											<div class="col-lg-9 padded">
											  <div class="grid-whole">
												<span class="upper-bryant small-bold">
											<label for="exp-month">
											  Expiration
											</label>
										  </span>
												<span class="upper-bryant micro">
											<label for="exp-year">
											  (YYYY/MM)
											</label>
										  </span>
											  </div>
											  <div class="grid-4">
												<!-- <input type="text" pattern="(0[1-9]|1[0-2])\/[0-9]{2}" placeholder="MM/YY" required name="expiryDate" id="expiryDate"> -->
                                                <input type="text" pattern="[0-9]{4}-[0-9]{2}"  placeholder="YYYY-MM" required name="expiryDate" id="expiryDate">
											  </div>
											  <!-- <div class="grid-2 center huge valign-dollar">
												<span class="upper-bryant tall-slash"> / </span>
											  </div>
											  <div class="grid-6">
												<input type="number" class="space" size="4" id="exp-year">
											  </div> -->
											</div>
										  </div>
										  <!-- <button type="submit" class="btn" id="update-payment">Update Card</button> -->
										</form>
									  </div>
									  <div class="clear"></div>
									</div>
								  </section>
								</div>
							  </div>	
						
						
							
							<div class="row">
								<div class="col-lg-6">
									<a href="/flight/flightOffer" title="Back to search" class="gradient-button">
										Back to search
									</a>
								</div>
								<div class="col-lg-6 ">
									<input type="submit" class="gradient-button" value="Proceed to next step" id="next-step" />
									<!-- <input type="submit" class="gradient-button" value="Back to Search" id="previous-step" /> -->
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!--//three-fourth content-->
				
				<!--right sidebar-->
				<aside class="col-lg-4 right-sidebar">
					<!--Booking details-->
					<article class="hotel-details booking-details">
						<h1>Hotel Summary
							<span class="stars">
								<i class="material-icons">&#xE838;</i>
								<i class="material-icons">&#xE838;</i>
								<i class="material-icons">&#xE838;</i>
							</span>
						</h1>
						<span class="address"></span>
						<span class="rating"> 8 /10</span>
						<% if(typeof hotel !='undefined' ) { %>
						<dl class="booking-info">
							<dt>Name</dt>
							<dd><%= hotel.hotelName_ %> </dd>
							<dt>Description</dt>
							<dd><%= hotel.room_.description_.text_  %> </dd>
							<dt>Check In Date</dt>
							<dd> <%= hotel.checkInDate_ %> </dd>
							<dt>Check Out Date</dt>
							<dd> <%= hotel.checkOutDate_ %> </dd>
                            <dt>Price</dt>
							<dd> <%= hotel.price_.total_ %> </dd>
						</dl>
						

						<div class="price">
							<p class="total">Total Price:  <%= hotel.price_.total_ %> <%= hotel.price_.currency_ %></p>
							<p>VTA (20%) included</p>
						</div>
						<% } %>
					</article>
					<!--//Booking details-->
					
					<!--Need Help Booking?-->
					<article class="widget">
						<h4>Need Help Booking?</h4>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">02076840868</p>
					</article>
					<!--//Need Help Booking?-->
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
<%- include('footer'); -%>
