<%- include('header'); -%>
<%- include('search-header'); -%>

	<!--main-->
	<!-- <% if(typeof alert !='undefined' ) { %>
		<% alert.forEach(function(error) { %>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: firebrick;">
				<%= error.msg %>
			</div>
			<% }) %>
				<% } %> -->
	<main class="main container">		
		<div class="wrap">
			
			<div class="row">
				<!--three-fourth content-->
				<div class="col-lg-8">
					<form id="booking" method="post" action="/flight/bookFlight" class="static-content booking">
						<fieldset>
							<h1 style="font-size: 25px">Traveller info</h1>
							<hr>
							<div class="row">
								<div class="f-item col-lg-6">
									<label for="firstName">First name</label>
									<input type="text" id="firstName" name="firstName" required="true"/>
								</div>
								<div class="f-item col-lg-6">
									<label for="lastName">Last name</label>
									<input type="text" id="lastName" name="lastName" required="true"/>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="f-item col-lg-6">
									<label for="email">Email address</label>
									<input type="email" id="email" name="email" required="true"/>
								</div>
								<div class="f-item col-lg-6">
									<label for="birthDate">Date of birth</label>
									<div class="datepicker-wrap"><input type="text"
										placeholder="" id="birthDate"
										name="birthDate" required="true" /></div>
								</div>
								<br>
								<br>
								<span>You’ll receive a confirmation email</span>
								<div>
									<div class="max-width">
									  <section class="payment turquoise">
										<div class="grid-full padded-reverse">
										  <div class="grid-whole padded">
											<h1 style="font-size: 25px">Payment Infos</h1>
											<hr>
										  </div>
										  <div class="grid-7 padded m-grid-whole s-grid-whole xs-grid-whole">
											<form id="payment-form" action="/cards" accept-charset="UTF-8" method="post">
											  <input name="utf8" type="hidden" value="✓">
											  <div class="grid-whole">
												<label for="card-number">
												  <span class="upper-bryant small-bold">Card Number</span>
												</label>
												<input type="number" class="space" size="20" name="cardNumber" id="cardNumber" required="true">
											  </div>
											  <br>
											  <div class="grid-whole row padded-reverse">
												<div class="col-lg-3 padded">
												  <div class="grid-5">
													<label for="cvc">
													  <span class="upper-bryant small-bold">CVC</span>
													  <input type="number" class="space" size="4" name="cvc" id="cvcCode" required="true">
													</label>
												  </div>
												  <!-- <div class="grid-7 cvc-box center">
													<img class="cvc" src="http://www.thisisstar.com/images/100UI/002/cvc_opt.svg">
												  </div> -->
												</div>
												<div class="col-lg-9 padded">
												  <div class="grid-whole">
													<span class="upper-bryant small-bold">
												<label for="exp-month">
												  Expiration
												</label>
											  </span>
													<span class="upper-bryant micro">
												<label for="exp-year">
												  (YYYY-MM)
												</label>
											  </span>
												  </div>
												  <div class="grid-4">
													<input type="text" pattern="[0-9]{4}-[0-9]{2}"  placeholder="YYYY-MM" required="true" name="expiryDate" id="expiryDate">
												</div>
												  <!-- <div class="grid-2 center huge valign-dollar">
													<span class="upper-bryant tall-slash"> / </span>
												  </div>
												  <div class="grid-6">
													<input type="number" class="space" size="4" id="exp-year">
												  </div> -->
												</div>
											  </div>
											  <!-- <button type="submit" class="btn" id="update-payment">Update Card</button> -->
											</form>
										  </div>
										  <div class="clear"></div>
										</div>
									  </section>
									</div>
								  </div>	
							</div>

							<div class="row">
								<div class="col-lg-6">
									<a href="/flight/flightOffer" title="Back to search" class="gradient-button">
										Back to search
									</a>
								</div>
								<div class="col-lg-6 ">
									<input type="submit" class="gradient-button" value="Proceed to next step" id="next-step" />
									<!-- <input type="submit" class="gradient-button" value="Back to Search" id="previous-step" /> -->
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!--//three-fourth content-->
				
				<!--right sidebar-->
				<aside class="col-lg-4 right-sidebar">
					<!--Booking details-->
					<article class="hotel-details booking-details">
						<h1>Flight Summary
							<span class="stars">
								<i class="material-icons">&#xE838;</i>
								<i class="material-icons">&#xE838;</i>
								<i class="material-icons">&#xE838;</i>
							</span>
						</h1>
						<span class="address"></span>
						<span class="rating"> 8 /10</span>
						<% if(typeof flight !='undefined' ) { %>
						<dl class="booking-info">
							<dt>From</dt>
							<dd><%= flight.departure_.iataCode_ %> </dd>
							<dt>To</dt>
							<dd><%= flight.arrival_.iataCode_ %> </dd>
							<dt>Departure Time</dt>
							<!-- <dd> <%= flight.departure_.at_ %> </dd> -->
							<dd><%= new Date(flight.departure_.at_).toDateString() + ' AT ' + new Date(flight.departure_.at_).toLocaleTimeString() %></dd>

							<dt>Arrival Time</dt>
							<!-- <dd> <%= flight.arrival_.at_ %> </dd> -->
							<dd><%= new Date(flight.arrival_.at_).toDateString() + ' AT ' + new Date(flight.arrival_.at_).toLocaleTimeString() %></dd>

						</dl>

						<% if(typeof flight.returnDeparture_.iataCode_ !=='undefined' && flight.returnDeparture_.iataCode_ !='') { %>


						<dl class="booking-info">
							<dt>From</dt>
							<dd><%= flight.returnDeparture_.iataCode_ %> </dd>
							<dt>To</dt>
							<dd><%= flight.returnArrival_.iataCode_ %> </dd>
							<dt>Departure Time</dt>
							<!-- <dd> <%= flight.returnDeparture_.at_ %> </dd> -->
							<dd><%= new Date(flight.returnDeparture_.at_).toDateString() + ' AT ' + new Date(flight.returnDeparture_.at_).toLocaleTimeString() %></dd>
							<dt>Arrival Time</dt>
							<!-- <dd> <%= flight.returnArrival_.at_ %> </dd> -->
							<dd><%= new Date(flight.returnArrival_.at_).toDateString() + ' AT ' + new Date(flight.returnArrival_.at_).toLocaleTimeString() %></dd>

						</dl>

						<% } %>

						<div class="price">
							<p class="total">Total Price:  <%= flight.price_.total_ %> Euros</p>
							<p>VTA (0%) included</p>
						</div>
						<% } %>
					</article>

					<table>
						<thead>
							<tr>
								<th class="text-left text-bold">From</th>
								<th class="text-left">To</th>
								<th class="text-center">Company</th>
								<!-- <th>Details</th> -->
								<th class="text-right">Duration</th>
								<th class="text-right">Stops</th>

							</tr>
						</thead>
						<tbody>
							<% flight.itineraries_.forEach((itinerary)=>{%>
								<% itinerary.segments_.forEach((segment)=>{%>
									<tr>
										<td class="text-left">
											<h3>
												<a target="_blank" href="javascript:;">
													<%= segment.departure_.iataCode_ %>
												</a>
											</h3>
											<!-- <b>Leaves on :</b>  <i><%= segment.departure_.at_ %></i> <br>  -->
											<b>Leaves on :</b>  <i><%= new Date(segment.departure_.at_).toDateString() + ' AT ' + new Date(segment.departure_.at_).toLocaleTimeString() %>
											</i> <br> 


											
										</td>
										<td class="text-left">
											<h3>
												<a target="_blank" href="javascript:;">
													<%= segment.arrival_.iataCode_ %>
												</a>
											</h3>
											<b>Arrives on :</b>  <i><%= new Date(segment.arrival_.at_).toDateString() + ' AT ' + new Date(segment.arrival_.at_).toLocaleTimeString() %>
											</i> <br>

										</td>
										<td class="qty"><%= segment.carrierName_ %></td>
										<td class="total"><%= segment.duration_.replace('PT','') %></td>
										<td class="total"><%= segment.numberOfStops %></td>


									</tr>
									<%});%>
										<%});%>
						</tbody>
						<tfoot>
							<tr>
								<td></td>
								<td>SUBTOTAL</td>
								<td>$<%= flight.price_.total_ %>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>VTA 0%</td>
								<td>$0.00</td>
							</tr>
							<tr>
								<td></td>
								<td>GRAND TOTAL</td>
								<td>$<%= flight.price_.total_ %>
								</td>
							</tr>
						</tfoot>
					</table>
					<!--//Booking details-->
					
					<!--Need Help Booking?-->
					<article class="widget">
						<h4>Need Help Booking?</h4>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">02076840868</p>
					</article>
					<!--//Need Help Booking?-->
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
<%- include('footer'); -%>
