<%- include('header'); -%>
<section class="relative tails-selected-element"
style="background-image: url('https://imgur.com/YMpzlJo.jpg'); background-repeat: no-repeat;background-size: cover; background-position: center;"
contenteditable="true">
<div class="absolute inset-0 bg-gradient-to-b from-black to-transparent opacity-90"></div>
<div class="relative z-20 px-4 py-24 mx-auto text-center text-white max-w-7xl lg:py-32">
	<div class="flex flex-wrap text-white">
		<div class="relative w-full px-4 mx-auto text-center xl:flex-grow-0 xl:flex-shrink-0">
			<h1 class="text-6xl font-black  text-[#f7982b] lg:text-7xl tails-selected-element"
				contenteditable="true">Booking Flights & Hotels</h1>
			<p class="mt-0 mb-4 text-base italic text-white sm:text-lg lg:text-xl">
				Booking hotels and flights has never been easier! Our user-friendly platform allows you to book
				your dream vacation with just a few clicks. Start planning your next adventure today!
			</p>
		</div>
	</div>
</div>
<div class="relative z-30 h-48 px-10  lg:h-32">
	<div class="booking-form">
		<form id="main-search" method="post" action="/flight/flightOffer#flight-results">
			<div class="row">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
							data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
							aria-selected="true">
							<span style="color: #f7982b; font-size: 16px;"> <i class="fa fa-plane"
									aria-hidden="true"></i> Flights </span>

						</button>
						<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
							data-bs-target="#v-pills-profile" type="button" role="tab"
							aria-controls="v-pills-profile" aria-selected="false">
							<span style="color: #f7982b; font-size: 16px;"> <i class="fa fa-building"
									aria-hidden="true"></i> Hotels</span>
						</button>
					</div>
					<br>
				</nav>
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane show active" id="v-pills-home" role="tabpanel"
						aria-labelledby="v-pills-home-tab">
						<div class="row">
							<!-- Begin Radio -->
							<div>
								<label for="f-option" class="l-radio">
									<input type="radio" id="f-option" value="one" name="selector" tabindex="1"
										checked>
									<span style="font-size: 10px;">One way</span>
								</label>
								<label for="s-option" class="l-radio">
									<input type="radio" id="s-option" value="two" name="selector" tabindex="2">
									<span style="font-size: 10px;">Two ways</span>
							</div>
							<!-- End Radio -->
							<div class="row">
								<div class="col">
									<div class="form-group ">
										<span class="form-label">Leaving from</span>
										<input class="form-control" type="text" placeholder="Specify airport"
											id="sourceFlight" name="sourceFlight" autocomplete="off">
										<input type="hidden" id="sourceFlightCode" name="sourceFlightCode"
											value="" />
										<div class="div-results-input" id="resultSourceFlightDiv">
										</div>
									</div>
								</div>

								<div class="col">
									<div class="form-group">
										<span class="form-label">Going to</span>
										<input class="form-control" type="text" placeholder="Specify airport"
											id="destinationFlight" name="destinationFlight" autocomplete="off">
										<input type="hidden" id="destinationFlightCode"
											name="destinationFlightCode" value="">
										<div class="div-results-input" id="resultDestinationFlightDiv">
										</div>
									</div>
								</div>

								<div class="col">
									<div class="form-group ">
										<span class="form-label">Departing on</span>
										<input class="form-control" type="date" id="datepickerSourceFlight"
											name="datepickerSourceFlight">
									</div>
								</div>

								<div class="col two box">
									<div class="form-group ">
										<span class="form-label">Returning on</span>
										<input class="form-control" type="date" id="datepickerReturnFlight"
											name="datepickerReturnFlight">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5"></div>

								<div class="col-md-1 col-lg-1">
									<span class="form-label">Adults</span>
									<select class="form-select" id="adultsFlight" name="adultsFlight"
										aria-label="Default select example">
										<option selected value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
									<!-- <div>
										<label for="location" class="form-label block text-sm font-medium leading-6 text-gray-900">Adults</label>
										<select id="adultsFlight" name="adultsFlight" class="rounded-md block w-full form-control text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
										  <option selected>0</option>
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										  <option>6</option>
										  <option>7</option>
										  <option>8</option>
										  <option>9</option>
										  <option>10</option>
										</select>
									</div> -->
									<!-- <div class="form-group">
										<span class="form-label">Adults</span>
										<input class="form-control" type="number" id="adultsFlight"
											name="adultsFlight">
									</div> -->
								</div>

								<div class="col-md-1 col-lg-1">
									<div class="form-group">
										<span class="form-label">Children</span>
										<select class="form-control" id="childrenFlight" name="childrenFlight"
											aria-label="Default select example">
											<option selected>0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
										</select>
									</div>
								</div>
								<div class="col-lg-5"></div>
							</div>
						</div>
						<div class="form-btn">
							<button class="submit-btn" id="search-submit">Search</button>
						</div>
					</div>
		</form>
		<!-- <form id="main-search" method="post" action="/hotel/city-hotels/" >  -->
		<!-- <form id="main-search2" method="post" action="/hotel/city-hotels/" >  -->
			<div class="tab-pane " id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
				<form id="main-search2" method="post" action="/hotel/city-hotels/">

					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<span class="form-label">Destination</span>
								<input class="form-control" type="text" placeholder="Specify City"
									id="destinationHotel" name="destinationHotel" autocomplete="off">
								<input type="hidden" id="destinationHotelCode" name="destinationHotelCode" value="">
								<div class="div-results-input" id="resultDestinationHotelDiv">
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<span class="form-label">Rooms</span>
								<input class="form-control" type="number" placeholder="Specify airport" id="rooms"
									autocomplete="off" name="rooms">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<span class="form-label">Check in</span>
								<input class="form-control" type="date" id="checkin" name="checkin">
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="form-group">
								<span class="form-label">Check out</span>
								<input class="form-control" type="date" id="checkout" name="checkout">
							</div>
						</div>
						<div class="form-btn">
							<button class="submit-btn" id="search-submit2">Search</button>
						</div>

					</div>
		</div>
</div>
</form>
</div>
</div>

</section>

	<!--main-->
	<% if(typeof alert !='undefined' ) { %>
		<% alert.forEach(function(error) { %>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: firebrick;">
				<%= error.msg %>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button> -->
			</div>
			<% }) %>
				<% } %>
	<main class="main container">		
		<div class="wrap">
			
			<div class="row">
				<!--three-fourth content-->
				<div class="col-lg-8">
					<form id="booking" method="post" action="/hotel/bookHotel" class="static-content booking">
						<fieldset>
							<h2><span>01 </span>Traveller info</h2>
							<br>
							<div class="row">
								<div class="f-item col-lg-6">
									<label for="firstName">First name</label>
									<input type="text" id="firstName" name="firstName" />
								</div>
								<div class="f-item col-lg-6">
									<label for="lastName">Last name</label>
									<input type="text" id="lastName" name="lastName" />
								</div>
							</div>
							
							<div class="row">
								<div class="f-item col-lg-6">
									<label for="email">Email address</label>
									<input type="email" id="email" name="email" />
								</div>
								<div class="f-item col-lg-6">
									<label for="birthDate">Date of birth</label>
									<div class="datepicker-wrap"><input type="text"
										placeholder="" id="birthDate"
										name="birthDate" /></div>
								</div>
								<br>
								<br>
								<span class="info">You’ll receive a confirmation email</span>
							</div>
							

							<div>
								<div class="max-width">
								  <section class="payment turquoise">
									<div class="grid-full padded-reverse">
									  <div class="grid-whole padded">
										<h1 style="font-size: 25px">Payment Infos</h1>
										<hr>
									  </div>
									  <div class="grid-7 padded m-grid-whole s-grid-whole xs-grid-whole">
										<form id="payment-form" action="/cards" accept-charset="UTF-8" method="post">
										  <input name="utf8" type="hidden" value="✓">
										  <div class="grid-whole">
											<label for="card-number">
											  <span class="upper-bryant small-bold">Card Number</span>
											</label>
											<input type="number" class="space" size="20" name="cardNumber" id="cardNumber">
										  </div>
										  <br>
										  <div class="grid-whole row padded-reverse">
											<div class="col-lg-3 padded">
											  <div class="grid-5">
												<label for="cvc">
												  <span class="upper-bryant small-bold">CVC</span>
												  <input type="number" class="space" size="4" name="cvc" id="cvcCode" name="cvcCode">
												</label>
											  </div>
											  <!-- <div class="grid-7 cvc-box center">
												<img class="cvc" src="http://www.thisisstar.com/images/100UI/002/cvc_opt.svg">
											  </div> -->
											</div>
											<div class="col-lg-9 padded">
											  <div class="grid-whole">
												<span class="upper-bryant small-bold">
											<label for="exp-month">
											  Expiration
											</label>
										  </span>
												<span class="upper-bryant micro">
											<label for="exp-year">
											  (YYYY/MM)
											</label>
										  </span>
											  </div>
											  <div class="grid-4">
												<!-- <input type="text" pattern="(0[1-9]|1[0-2])\/[0-9]{2}" placeholder="MM/YY" required name="expiryDate" id="expiryDate"> -->
                                                <input type="text" pattern="[0-9]{4}-[0-9]{2}"  placeholder="YYYY-MM" required name="expiryDate" id="expiryDate">
											  </div>
											  <!-- <div class="grid-2 center huge valign-dollar">
												<span class="upper-bryant tall-slash"> / </span>
											  </div>
											  <div class="grid-6">
												<input type="number" class="space" size="4" id="exp-year">
											  </div> -->
											</div>
										  </div>
										  <!-- <button type="submit" class="btn" id="update-payment">Update Card</button> -->
										</form>
									  </div>
									  <div class="clear"></div>
									</div>
								  </section>
								</div>
							  </div>	
						
						
							
							<div class="row">
								<div class="col-lg-6">
									<a href="/flight/flightOffer" title="Back to search" class="gradient-button">
										Back to search
									</a>
								</div>
								<div class="col-lg-6 ">
									<input type="submit" class="gradient-button" value="Proceed to next step" id="next-step" />
									<!-- <input type="submit" class="gradient-button" value="Back to Search" id="previous-step" /> -->
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!--//three-fourth content-->
				
				<!--right sidebar-->
				<aside class="col-lg-4 right-sidebar">
					<!--Booking details-->
					<article class="hotel-details booking-details">
						<h1>Hotel Summary
							<span class="stars">
								<i class="material-icons">&#xE838;</i>
								<i class="material-icons">&#xE838;</i>
								<i class="material-icons">&#xE838;</i>
							</span>
						</h1>
						<span class="address"></span>
						<span class="rating"> 8 /10</span>
						<% if(typeof hotel !='undefined' ) { %>
						<dl class="booking-info">
							<dt>Name</dt>
							<dd><%= hotel.hotelName_ %> </dd>
							<dt>Description</dt>
							<dd><%= hotel.room_.description_.text_  %> </dd>
							<dt>Check In Date</dt>
							<dd> <%= hotel.checkInDate_ %> </dd>
							<dt>Check Out Date</dt>
							<dd> <%= hotel.checkOutDate_ %> </dd>
                            <dt>Price</dt>
							<dd> <%= hotel.price_.total_ %> </dd>
						</dl>
						

						<div class="price">
							<p class="total">Total Price:  <%= hotel.price_.total_ %> <%= hotel.price_.currency_ %></p>
							<p>VAT (20%) included</p>
						</div>
						<% } %>
					</article>
					<!--//Booking details-->
					
					<!--Need Help Booking?-->
					<article class="widget">
						<h4>Need Help Booking?</h4>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">02076840868</p>
					</article>
					<!--//Need Help Booking?-->
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
	
<%- include('footer'); -%>
