<%- include('header'); -%>	
	<!--main-->
	<main class="main">		

		<div class="container">
			<div class="card">
				<div class="card-body">
					<div id="invoice">
						<div class="toolbar hidden-print">
							<div class="text-end">
								<button type="button" class="btn btn-dark"><i class="fa fa-print"></i> Print</button>
								<button type="button" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
							</div>
							<hr>
						</div>
						<div class="invoice overflow-auto">
							<div style="min-width: 600px">
								<header>
									<div class="row">
										<div class="col">
											<a href="javascript:;">
															<img src="assets/images/logo-icon.png" width="80" alt="">
														</a>
										</div>
										<div class="col company-details">
											<h2 class="name">
												<a target="_blank" href="javascript:;">
											Arboshiki
											</a>
											</h2>
											<div>455 Foggy Heights, AZ 85004, US</div>
											<div>(123) 456-789</div>
											<div>company@example.com</div>
										</div>
									</div>
								</header>
								<main>
									<div class="row contacts">
										<div class="col invoice-to">
											<div class="text-gray-light">INVOICE TO:</div>
											<h2 class="to">John Doe</h2>
											<div class="address">796 Silver Harbour, TX 79273, US</div>
											<div class="email"><a href="mailto:john@example.com">john@example.com</a>
											</div>
										</div>
										<div class="col invoice-details">
											<h1 class="invoice-id">INVOICE 3-2-1</h1>
											<div class="date">Date of Invoice: 01/10/2018</div>
											<div class="date">Due Date: 30/10/2018</div>
										</div>
									</div>
									<table>
										<thead>
											<tr>
												<th>#</th>
												<th class="text-left">DESCRIPTION</th>
												<th class="text-right">HOUR PRICE</th>
												<th class="text-right">HOURS</th>
												<th class="text-right">TOTAL</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="no">04</td>
												<td class="text-left">
													<h3>
														<a target="_blank" href="javascript:;">
												Youtube channel
												</a>
													</h3>
													<a target="_blank" href="javascript:;">
												   Useful videos
											   </a> to improve your Javascript skills. Subscribe and stay tuned :)</td>
												<td class="unit">$0.00</td>
												<td class="qty">100</td>
												<td class="total">$0.00</td>
											</tr>
											<tr>
												<td class="no">01</td>
												<td class="text-left">
													<h3>Website Design</h3>Creating a recognizable design solution based on the company's existing visual identity</td>
												<td class="unit">$40.00</td>
												<td class="qty">30</td>
												<td class="total">$1,200.00</td>
											</tr>
											<tr>
												<td class="no">02</td>
												<td class="text-left">
													<h3>Website Development</h3>Developing a Content Management System-based Website</td>
												<td class="unit">$40.00</td>
												<td class="qty">80</td>
												<td class="total">$3,200.00</td>
											</tr>
											<tr>
												<td class="no">03</td>
												<td class="text-left">
													<h3>Search Engines Optimization</h3>Optimize the site for search engines (SEO)</td>
												<td class="unit">$40.00</td>
												<td class="qty">20</td>
												<td class="total">$800.00</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="2"></td>
												<td colspan="2">SUBTOTAL</td>
												<td>$5,200.00</td>
											</tr>
											<tr>
												<td colspan="2"></td>
												<td colspan="2">TAX 25%</td>
												<td>$1,300.00</td>
											</tr>
											<tr>
												<td colspan="2"></td>
												<td colspan="2">GRAND TOTAL</td>
												<td>$6,500.00</td>
											</tr>
										</tfoot>
									</table>
									<div class="thanks">Thank you!</div>
									<div class="notices">
										<div>NOTICE:</div>
										<div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
									</div>
								</main>
								<footer>Invoice was created on a computer and is valid without the signature and seal.</footer>
							</div>
							<!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
							<div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap">
			<div class="row">
				<!--three-fourth content-->
				<div class="three-fourth">
					<form id="booking" method="post" action="booking" class="static-content booking">
						<fieldset>
							<h2><span>03 </span>Confirmation</h2>
							<div class="text-wrap">
								<!-- <a href="#" class="gradient-button right print" title="Print booking" onclick="printpage()">Print booking</a> -->
								<h2 style="text-align:center;">Thank you. Your booking is now confirmed.</h2>
							</div>
							
							<h3>Traveller info</h3>
							<% if(typeof result !='undefined' && typeof travelerInfos !='undefined') { %>
							<div class="text-wrap">
								<div class="output">
									<p>Booking number:</p>
									<p> <%= result.data.id %> </p>
									<p>Fist name: </p>
									<p> <%= travelerInfos.first_name %> </p>
									<p>Last name: </p>
									<p> <%= travelerInfos.last_name %>  </p>
									<p>E-mail address: </p>
									<p> <%= travelerInfos.email_ %>  </p>
									<p>Country:</p>
									<p>Cameroon</p>
								</div>
							</div>
							<% } %>
						
							<!-- <h3>Special requirements</h3>
							<div class="text-wrap">
								<p>I would like to book a twin room with a definite sea view please. Thank you and kind regards, John Livingston</p>
							</div>
							
							<h3>Payment</h3>
							<div class="text-wrap">
								<p>You have now confirmed and guaranteed your booking by credit card.All payments are to be made at the hotel during your stay, unless otherwise stated in the hotel policies or in the room conditions.Please note that your credit card may be pre-authorised prior to your arrival. </p>
								<p><strong class="dark">This hotel accepts the following forms of payment:</strong></p>
								<p>American Express, Visa, MasterCard</p>
							</div>
							
							<h3>Don’t forget</h3>
							<div class="text-wrap">
								<p>You can change or cancel your booking via our online self service tool myBookYourTravel:
								<a href="#">https://secure.bookyourtravel.com/myreservations.html?tmpl=profile/myreservations;bn=904054553;pincode=6525</a></p>
								<p><strong>We wish you a pleasant stay</strong><i>your BookYourTravel team</i></p>
							</div> -->
						</fieldset>
					</form>
				</div>
				<!--//three-fourth content-->
			
				<!--right sidebar-->
				<aside class="one-fourth right-sidebar">
					<!--Booking details-->
					<article class="hotel-details booking-details">
						<h1>Flight Summary 
							<span class="stars">
								<i class="material-icons">&#xE838;</i>
								<i class="material-icons">&#xE838;</i>
								<i class="material-icons">&#xE838;</i>
							</span>
						</h1>
						<span class="address">Marylebone, London</span>
						<span class="rating"> 8 /10</span>
						<% if(typeof flight !='undefined' ) { %>
							<dl class="booking-info">
								<dt>From</dt>
								<dd><%= flight.departure_.iataCode_ %> </dd>
								<dt>To</dt>
								<dd><%= flight.arrival_.iataCode_ %> </dd>
								<dt>Departure Time</dt>
								<dd> <%= flight.departure_.at_ %> </dd>
								<dt>Arrival Time</dt>
								<dd> <%= flight.arrival_.at_ %> </dd>
							</dl>
							<div class="price">
								<p class="total">Total Price:  <%= flight.price_.total_ %> Euros</p>
								<p>VAT (20%) included</p>
							</div>
							<% } %>
					</article>
					<!--//Booking details-->
					
					<!--Need Help Booking?-->
					<article class="widget">
						<h4>Need Help Booking?</h4>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">1- 555 - 555 - 555</p>
					</article>
					<!--//Need Help Booking?-->
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//main content-->
		</div>
	</main>
	<!--//main-->
<%- include('footer'); -%>
