<%- include('header'); -%>
    <!--main-->
    <main class="main">

        <div id="invoice" style="display: block; clear: both; page-break-after: always; page-break-inside:avoid;">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div id="invoice">
                            <div class="toolbar hidden-print">
                                <div class="text-end">
                                    <button type="button" class="btn btn-dark" id="download-button"
                                        value="Generate PDF"><i class="fa fa-print"></i> Print</button>
                                    <input type="button" id="create_pdf" value="Generate PDF">
                                </div>
                                <hr>
                            </div>
                            <div class="invoice overflow-auto">
                                <div style="min-width: 600px">
                                    <header>
                                        <div class="row">
                                            <div class="col">
                                                <a href="javascript:;">
                                                    <img src="https://elasticbeanstalk-us-east-1-991586319498.s3.amazonaws.com/images/logo.png"
                                                        width="200" alt="Booking Logo">
                                                </a>
                                            </div>
                                        </div>
                                    </header>
                                    <main>
                                        <div class="row contacts">
                                            <div class="col invoice-to">
                                                <div class="text-gray-light">
                                                    <h2 class="name">
                                                        <a target="_blank" href="javascript:;">
                                                            <%= travelerInfos.first_name %>
                                                                <%= travelerInfos.last_name %>
                                                        </a>
                                                    </h2>
                                                </div>

                                                <h3 class="invoice-id text-left">Booking ID : <b><big>
                                                            <%= result.data[0].id %>
                                                        </big></b> </h3>
                                                        <div class="date"> <b>Booking Confirmation :</b> <i>
                                                            <%= result.data[0].providerConfirmationId %>
                                                        </i></div>
                                                        <div class="date"> <b>Name :</b> <i>
                                                            <%= hotel.hotelName_ %>
                                                        </i></div>
                                                        <div class="date"> <b>Description :</b> <i>
                                                            <%= hotel.room_.description_.text_  %> 
                                                        </i></div>
                                                <div class="date"> <b>Check In :</b> <i>
                                                        <%= hotel.checkInDate_ %>
                                                    </i></div>
                                                <div class="date"> <b>Check Out :</b> <i>
                                                        <%= hotel.checkOutDate_ %>
                                                    </i></div>

                                            </div>
                                            <!-- return flight -->

                                            <div class="col invoice-details">
                                                <!-- <div class="address">Birthday : 23 April 1980</div> -->
                                                <div class="email"><a href="mailto:john@example.com">Email : <%=
                                                            travelerInfos.email_ %> </a></div>
                                            </div>
                                        </div>
                                        
                                        <div class="thanks">Thank you!</div>
                                        <div class="notices">
                                            <div>NOTICE:</div>
                                            <div class="notice">Please keep this invoice safely, we will not be able to
                                                reproduce it.</div>
                                        </div>
                                    </main>
                                    <footer>Invoice was created on a computer and is valid without any signature or
                                        seal.
                                    </footer>
                                </div>
                                <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!--//main-->
    <!-- Begin Javascript for print invoice -->
    <script src="es6-promise.auto.min.js"></script>
    <script src="jspdf.min.js"></script>
    <script src="html2canvas.min.js"></script>
    <script src="html2pdf.min.js"></script>
    <script>
        const button = document.getElementById('download-button');
        function generatePDF() {
            // Choose the element that your content will be rendered to.
            var element = document.getElementById('invoice');
            var opt = {
                filename: 'invoice.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { y: '1000px', backgroundColor: 'black' },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'paysage' }
            };
            // Choose the element and save the PDF for your user.
            html2pdf(element).set(opt).save();
        }
        button.addEventListener('click', generatePDF);
    </script>
    <!-- End Javascript code for print invoice -->

    <%- include('footer'); -%>