<%- include('header'); -%>
	<!--//header-->
	<% if(typeof alert !='undefined' ) { %>
		<% alert.forEach(function(error) { %>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: firebrick;">
				<%= error.msg %>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button> -->
			</div>
			<% }) %>
				<% } %>
					<!--main-->
					<main class="main">
						<div class="row white-bg">
							<!-- <div class="white-bg "> -->
							<div class="col-xl-4 col-lg-6 ">
								<div class="card l-bg-orange">
									<div class="card-statistic-3 p-4">
										<div class="card-icon card-icon-large"><i class="fas fa-plane"></i></div>
										<div class="mb-4">
											<h5 class="card-title mb-0">New flights</h5>
										</div>
										<div class="row align-items-center mb-2 d-flex">
											<div class="col-8">
												<h2 class="d-flex align-items-center mb-0">
													3,243
												</h2>
											</div>
										</div>
										<div class="progress mt-1 " data-height="8" style="height: 8px;">
											<div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%"
												aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
												style="width: 25%;"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6">
								<div class="card l-bg-green">
									<div class="card-statistic-3 p-4">
										<div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
										<div class="mb-4">
											<h5 class="card-title mb-0">Customers</h5>
										</div>
										<div class="row align-items-center mb-2 d-flex">
											<div class="col-8">
												<h2 class="d-flex align-items-center mb-0">
													15.07k
												</h2>
											</div>
										</div>
										<div class="progress mt-1 " data-height="8" style="height: 8px;">
											<div class="progress-bar l-bg-green" role="progressbar" data-width="25%"
												aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
												style="width: 25%;"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6">
								<div class="card l-bg-cyan">
									<div class="card-statistic-3 p-4">
										<div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
										<div class="mb-4">
											<h5 class="card-title mb-0">Ticket Resolved</h5>
										</div>
										<div class="row align-items-center mb-2 d-flex">
											<div class="col-8">
												<h2 class="d-flex align-items-center mb-0">
													578
												</h2>
											</div>
										</div>
										<div class="progress mt-1 " data-height="8" style="height: 8px;">
											<div class="progress-bar l-bg-orange" role="progressbar" data-width="25%"
												aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
												style="width: 25%;"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- </div> -->
						</div>

						<div class="main-search">
							<div class="wrap">
								<form id="main-search" method="post" action="/flight/flightOffer/">
									<div class="row">
										<!--column-->
										<div class="column radios one-fourth">
											<h5><span>01</span> What?</h5>
											<div class="row">
												<div class="f-item one-half">
													<input type="radio" name="radio" id="hotel" value="form1" />
													<label for="hotel">Hotel</label>
												</div>
												<!-- <div class="f-item one-half">
													<input type="radio" name="radio" id="self_catering" value="form2" />
													<label for="self_catering">Self Catering</label>
												</div> -->
								<div class="f-item one-half">
									<input type="radio" name="radio" id="flight" value="form3" checked/>
									<label for="flight">Flight</label>
								</div>
								<!-- <div class="f-item one-half">
													<input type="radio" name="radio" id="cruise" value="form4" />
													<label for="cruise">Cruise</label>
												</div>
												<div class="f-item one-half">
													<input type="radio" name="radio" id="flight_and_hotel" value="form5" />
													<label for="flight_and_hotel">Flight &amp; Hotel</label>
												</div>
												<div class="f-item one-half">
													<input type="radio" name="radio" id="rent_a_car" value="form6" />
													<label for="rent_a_car">Rent a Car</label>
												</div> -->
											</div>
										</div>
										<!--//column-->

										<div class="three-fourth">
											<!--form hotel-->
											<div class="form row" id="form1">
												<!--column-->
												<div class="column one-third">
													<h5><span>02</span> Where?</h5>
													<div class="row">
														<div class="f-item full-width">
															<label for="destination1">Your destination</label>
															<input type="text"
																placeholder="City, region, district or specific hotel"
																id="destination1" name="destination" />
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column  one-third">
													<h5><span>03</span> When?</h5>
													<div class="row">
														<div class="f-item one-half datepicker">
															<label for="datepicker1">Check-in date</label>
															<div class="datepicker-wrap"><input type="text"
																	placeholder="" id="datepicker1"
																	name="datepicker1" /></div>
														</div>
														<div class="f-item one-half datepicker">
															<label for="datepicker2">Check-out date</label>
															<div class="datepicker-wrap"><input type="text"
																	placeholder="" id="datepicker2"
																	name="datepicker2" /></div>
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>04</span> Who?</h5>
													<div class="row">
														<div class="f-item one-third spinner">
															<label for="spinner1">Rooms</label>
															<input type="text" placeholder="" id="spinner1"
																name="spinner1" />
														</div>
														<div class="f-item one-third spinner">
															<label for="spinner2">Adults</label>
															<input type="text" placeholder="" id="spinner2"
																name="spinner1" />
														</div>
														<div class="f-item one-third spinner">
															<label for="spinner3">Children</label>
															<input type="text" placeholder="" id="spinner3"
																name="spinner1" />
														</div>
													</div>
												</div>
												<!--//column-->
											</div>
											<!--//form hotel-->

											<!--form self catering-->
											<div class="form row" id="form2">
												<!--column-->
												<div class="column one-third">
													<h5><span>02</span> Where?</h5>
													<div class="row">
														<div class="f-item full-width">
															<label for="destination2">Your destination</label>
															<input type="text"
																placeholder="City, region, district or specific hotel"
																id="destination2" name="destination" />
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>03</span> When?</h5>
													<div class="row">
														<div class="f-item one-half datepicker">
															<label for="datepicker1">Check-in date</label>
															<div class="datepicker-wrap"><input type="text"
																	placeholder="" id="datepicker4"
																	name="datepicker4" /></div>
														</div>
														<div class="f-item one-half datepicker">
															<label for="datepicker2">Check-out date</label>
															<div class="datepicker-wrap"><input type="text"
																	placeholder="" id="datepicker5"
																	name="datepicker5" /></div>
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column  one-third">
													<h5><span>04</span> Who?</h5>
													<div class="row">
														<div class="f-item one-half espinner">
															<label for="spinner1">Guests</label>
															<input type="text" placeholder="" id="spinner4"
																name="spinner4" />
														</div>
														<div class="f-item one-half spinner">
															<label for="spinner2">Bedrooms</label>
															<input type="text" placeholder="" id="spinner5"
																name="spinner5" />
														</div>
													</div>
												</div>
												<!--//column-->
											</div>
											<!--//form self catering-->

											<!--form flight-->
											<div class="form row" id="form3">
												<!--column-->
												<div class="column one-third">
													<h5><span>02</span> Where?</h5>
													<div class="row">
														<div class="f-item full-width">

															<label for="sourceFlight">Leaving from</label>

															<!-- <input type="text" placeholder="specific airport"
																id="sourceFlight" name="sourceFlight"
																onKeyUp="showResultsSource(this.id, this.value, 'sourceList', 'resultSourceFlightDiv', 'sourceFlightCode')" /> -->

															<input type="text" placeholder="specific airport"
																id="sourceFlight" name="sourceFlight" required="true"/>
															<input type="hidden" id="sourceFlightCode"
																name="sourceFlightCode" value="" />
															<div id="resultSourceFlightDiv"></div>
														</div>
														<div class="f-item full-width">
															<label for="destinationFlight">Going to</label>
															<input type="text" placeholder="specific airport"
																id="destinationFlight" name="destinationFlight" required="true"/>
														</div>
														<input type="hidden" id="destinationFlightCode"
															name="destinationFlightCode" value="">
														<div id="resultDestinationFlightDiv"></div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>03</span> When?</h5>
													<div class="row">
														<div class="f-item full-width datepicker">
															<label for="datepickerSourceFlight">Departing on</label>
															<div class="row">
																<div class="f-item one-half">
																	<div class="datepicker-wrap"><input type="text"
																			placeholder="" id="datepickerSourceFlight"
																			name="datepickerSourceFlight" required="true"/>
																	</div>
																</div>


															</div>
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>04</span> Who?</h5>
													<div class="row">
														<div class="f-item one-third spinner">
															<label for="adultsFlight">Adults</label>
															<input type="text" placeholder="" id="adultsFlight"
																name="adultsFlight" required="true"/>
														</div>
														<!-- <div class="f-item one-third spinner">
											<label for="spinner7">Children</label>
											<input type="text" placeholder="" id="spinner7" name="spinner7" />
										</div>
										<div class="f-item one-third spinner">
											<label for="spinner8">Infants</label>
											<input type="text" placeholder="" id="spinner8" name="spinner8" />
										</div> -->
													</div>
												</div>
												<!--//column-->
											</div>
											<!--//form flight-->

											<!--form cruise-->
											<div class="form row" id="form4">
												<!--column-->
												<div class="column  one-third">
													<h5><span>02</span> Where?</h5>
													<div class="row">
														<div class="f-item full-width">
															<label>Your destination</label>
															<select>
																<option>I Don't Mind</option>
																<option>Africa</option>
																<option>Alaska</option>
																<option>Alaska - Gulf Northbound</option>
																<option>Alaska - Gulf Southbound</option>
																<option>Antarctica</option>
																<option>Arctic</option>
																<option>Australia</option>
																<option>Bahamas</option>
																<option>Bermuda</option>
																<option>Brazil</option>
																<option>Canada/New England</option>
																<option>Canada</option>
																<option>Caribbean</option>
																<option>Caribbean - Eastern</option>
																<option>Caribbean - Southern</option>
																<option>Caribbean - Western</option>
																<option>Coastal</option>
																<option>Costa Rica</option>
																<option>Cruise To Nowhere</option>
																<option>Europe</option>
																<option>Northern Europe</option>
																<option>Europe - Western</option>
																<option>Europe (Greenland)</option>
																<option>Europe (Norway)</option>
																<option>Far East</option>
																<option>Greece</option>
																<option>Hawaii</option>
																<option>India</option>
																<option>Mediterranean</option>
																<option>Mediterranean - Eastern</option>
																<option>Mexico</option>
																<option>Middle East</option>
																<option>New England</option>
																<option>New Zealand</option>
																<option>Pacific Coastal</option>
																<option>Pacific Northwest</option>
																<option>Panama Canal</option>
																<option>Russia</option>
																<option>South America</option>
																<option>South Pacific</option>
																<option>Southeast Asia</option>
																<option>Tahiti</option>
																<option>Transatlantic</option>
																<option>Transcanal</option>
																<option>Transpacific</option>
																<option>World Cruise</option>
															</select>
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>03</span> When?</h5>
													<div class="row">
														<div class="f-item one-half datepicker">
															<label for="datepicker8">Departure date</label>
															<div class="datepicker-wrap"><input type="text"
																	placeholder="" id="datepicker8"
																	name="datepicker8" /></div>
														</div>
														<div class="f-item one-half">
															<label>Cruise length</label>
															<select>
																<option>I Don't Mind</option>
																<option>1-2 Nights</option>
																<option>3-6 Nights</option>
																<option>7-9 Nights</option>
																<option>10-14 Nights</option>
																<option>Over 14 Nights</option>
															</select>
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>04</span> Who?</h5>
													<div class="row">
														<div class="f-item one-half">
															<label>Cruise Line</label>
															<select>
																<option>I Don't Mind</option>
																<option>Azamara Club Cruises</option>
																<option>Carnival Cruise Lines</option>
																<option>Celebrity Cruises</option>
																<option>Costa Cruise Lines</option>
																<option>Cruise &amp; Maritime Voyages</option>
																<option>Crystal Cruises</option>
																<option>Cunard Line Ltd.</option>
																<option>Disney Cruise Line</option>
																<option>Holland America Line</option>
																<option>Hurtigruten Cruise Line</option>
																<option>MSC Cruises</option>
																<option>Norwegian Cruise Line</option>
																<option>Oceania Cruises</option>
																<option>Orion Expedition Cruises</option>
																<option>P&amp;O Cruises</option>
																<option>Paul Gauguin Cruises</option>
																<option>Peter Deilmann Cruises</option>
																<option>Princess Cruises</option>
																<option>Regent Seven Seas Cruises</option>
																<option>Royal Caribbean International</option>
																<option>Seabourn Cruise Line</option>
																<option>Silversea Cruises</option>
																<option>Star Clippers</option>
																<option>Swan Hellenic Cruises</option>
																<option>Thomson Cruises</option>
																<option>Viking River Cruises</option>
																<option>Windstar Cruises</option>
															</select>
														</div>

														<div class="f-item one-half spinner">
															<label for="spinner9">Cabins</label>
															<input type="text" placeholder="" id="spinner9"
																name="spinner9" />
														</div>
													</div>
												</div>
												<!--//column-->
											</div>
											<!--//form cruise-->

											<!--form flight+hotel-->
											<div class="form row" id="form5">
												<!--column-->
												<div class="column one-third">
													<h5><span>02</span> Where?</h5>
													<div class="row">
														<div class="f-item full-width">
															<label for="destination5">Leaving from</label>
															<input type="text"
																placeholder="City, region, district or specific airport"
																id="destination5" name="destination" />
														</div>
														<div class="f-item full-width">
															<label for="destination6">Going to</label>
															<input type="text"
																placeholder="City, region, district or specific airport"
																id="destination6" name="destination" />
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>03</span> When?</h5>
													<div class="row">
														<div class="f-item full-width datepicker">
															<label for="datepicker9">Departing on</label>
															<div class="row">
																<div class="f-item one-half">
																	<div class="datepicker-wrap"><input type="text"
																			placeholder="" id="datepicker9"
																			name="datepicker9" /></div>
																</div>
																<div class="f-item one-half">
																	<select>
																		<option>Select time</option>
																		<option>Lowest fare</option>
																		<option>Morning</option>
																		<option>Midday</option>
																		<option>Afternoon</option>
																		<option>Evening</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="f-item full-width datepicker">
															<label for="datepicker10">Arriving on</label>
															<div class="row">
																<div class="f-item one-half">
																	<div class="datepicker-wrap"><input type="text"
																			placeholder="" id="datepicker10"
																			name="datepicker10" /></div>
																</div>
																<div class="f-item one-half">
																	<select>
																		<option>Select time</option>
																		<option>Lowest fare</option>
																		<option>Morning</option>
																		<option>Midday</option>
																		<option>Afternoon</option>
																		<option>Evening</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>04</span> Who?</h5>
													<div class="row">
														<div class="f-item one-third spinner">
															<label for="spinner10">Adults</label>
															<input type="text" placeholder="" id="spinner10"
																name="spinner10" />
														</div>
														<div class="f-item one-third spinner">
															<label for="spinner11">Children</label>
															<input type="text" placeholder="" id="spinner11"
																name="spinner11" />
														</div>
														<div class="f-item one-third spinner">
															<label for="spinner12">Rooms</label>
															<input type="text" placeholder="" id="spinner12"
																name="spinner12" />
														</div>
													</div>
												</div>
												<!--//column-->
											</div>
											<!--//form flight+hotel-->

											<!--form rent a car-->
											<div class="form row" id="form6">
												<!--column-->
												<div class="column one-third">
													<h5><span>02</span> Where?</h5>
													<div class="row">
														<div class="f-item full-width">
															<label for="destination7">Pick Up</label>
															<input type="text" placeholder="I want to pick up car in"
																id="destination7" name="destination" />
														</div>
														<div class="f-item full-width">
															<label for="destination8">Drop Off</label>
															<input type="text"
																placeholder="I want to pick drop off car in"
																id="destination8" name="destination" />
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>03</span> When?</h5>
													<div class="row">
														<div class="f-item full-width datepicker">
															<label for="datepicker11">Pick up time</label>
															<div class="row">
																<div class="f-item one-half">
																	<div class="datepicker-wrap"><input type="text"
																			placeholder="" id="datepicker11"
																			name="datepicker11" /></div>
																</div>
																<div class="f-item one-half">
																	<select>
																		<option>00:00</option>
																		<option>01:00</option>
																		<option>02:00</option>
																		<option>03:00</option>
																		<option>04:00</option>
																		<option>05:00</option>
																		<option>06:00</option>
																		<option>07:00</option>
																		<option>08:00</option>
																		<option>09:00</option>
																		<option selected>10:00</option>
																		<option>11:00</option>
																		<option>12:00</option>
																		<option>13:00</option>
																		<option>14:00</option>
																		<option>15:00</option>
																		<option>16:00</option>
																		<option>17:00</option>
																		<option>18:00</option>
																		<option>19:00</option>
																		<option>20:00</option>
																		<option>21:00</option>
																		<option>22:00</option>
																		<option>23:00</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="f-item full-width datepicker">
															<label for="datepicker12">Drop of time</label>
															<div class="row">
																<div class="f-item one-half">
																	<div class="datepicker-wrap"><input type="text"
																			placeholder="" id="datepicker12"
																			name="datepicker12" /></div>
																</div>
																<div class="f-item one-half">
																	<select>
																		<option>00:00</option>
																		<option>01:00</option>
																		<option>02:00</option>
																		<option>03:00</option>
																		<option>04:00</option>
																		<option>05:00</option>
																		<option>06:00</option>
																		<option>07:00</option>
																		<option>08:00</option>
																		<option>09:00</option>
																		<option selected>10:00</option>
																		<option>11:00</option>
																		<option>12:00</option>
																		<option>13:00</option>
																		<option>14:00</option>
																		<option>15:00</option>
																		<option>16:00</option>
																		<option>17:00</option>
																		<option>18:00</option>
																		<option>19:00</option>
																		<option>20:00</option>
																		<option>21:00</option>
																		<option>22:00</option>
																		<option>23:00</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!--//column-->

												<!--column-->
												<div class="column one-third">
													<h5><span>04</span> Who?</h5>
													<div class="row">
														<div class="f-item one-half spinner small">
															<label for="spinner13">Driver Age</label>
															<input type="text" placeholder="" id="spinner13"
																name="spinner13" />
														</div>
														<div class="f-item one-half">
															<label for="spinner2">Car type:</label>
															<select>
																<option>No Preference</option>
																<option>Economy</option>
																<option>Compact</option>
																<option>Midsize</option>
																<option>Standard</option>
																<option>Full Size</option>
																<option>Premium</option>
																<option>Luxury</option>
																<option>Convertible</option>
																<option>MiniSUV</option>
																<option>Sports Car</option>
															</select>
														</div>
													</div>
												</div>
												<!--//column-->
											</div>
											<!--//form rent a car-->
										</div>
										<input type="submit" value="Proceed to results"
											class="gradient-button search-submit" id="search-submit" />
									</div>
								</form>
							</div>
						</div>
						<!--//search-->


						<div class="wrap">
							<div class="row">
								<!--deals-->
								<div class="full-width">
									<header class="s-title">
										<h2>Flights Search Results</h2>
									</header>

									<div class="deals flights">
										<div class="row">
											<!--deal-->
											<% if(typeof business !='undefined' ) { %>
												<% business.forEach((elt)=>{%>
													<!-- <li>Name: <%=elt.name%> -Distance: <%=elt.distance%>Km - Room Type: <%=elt.roomType%> - Price: <%=elt.price%>Euro</li>  -->
													<article class="one-fourth">
														<div class="details">

															<h3>
																<%= elt.departure_.iataCode_ %> to
																	<%= elt.arrival_.iataCode_ %>
															</h3>
															<span class="price">Seats Left: <em>
																	<%= elt.numberOfBookableSeats_ %>
																</em> </span>
															<span class="price">Price <em>
																	<%= elt.price_.total_ %> Euros
																</em> </span>
															<span class="price">Leaves on <em>
																	<%= elt.departure_.at_ %>
																</em> </span>
															<span class="price">Arrives on <em>
																	<%= elt.arrival_.at_ %>
																</em> </span>
															<h3>
																----------ITINERARY----------
															</h3>
															<% elt.itineraries_.forEach((itinerary)=>{%>

																<% itinerary.segments_.forEach((segment)=>{%>
																	<!-- <li>Name: <%=elt.name%> -Distance: <%=elt.distance%>Km - Room Type: <%=elt.roomType%> - Price: <%=elt.price%>Euro</li>  -->

																	<h3>
																		<%= segment.departure_.iataCode_ %> to
																			<%= segment.arrival_.iataCode_ %>
																	</h3>
																	<span class="price">Operated By: <em>
																			<%= segment.carrierName_ %>
																		</em> </span>
																	<span class="price">Duration <em>
																			<%= segment.duration_ %>
																		</em> </span>
																	<span class="price">Number of Stops <em>
																			<%= segment.numberOfStops_ %>
																		</em> </span>
																	<span class="price">Leaves on <em>
																			<%= segment.departure_.at_ %>
																		</em> </span>
																	<span class="price">Arrives on <em>
																			<%= segment.arrival_.at_ %>
																		</em> </span>
																	<%});%>
																		<%});%>

																			<a href="/flight/bookFlight?flight=<%=elt.original %>&iataCode=<%=elt.arrival_.iataCode_ %>"
																				title="Book Flight"
																				class="gradient-button">Book
																			</a>
														</div>
													</article>
													<%});%>
														<% } %>
															<!--//deal-->
										</div>
									</div>

								</div>
							</div>
							<!--//top destinations-->
						</div>
					</main>
					<!--//main-->

<%- include('footer'); -%>
