<%- include('header'); -%>
	<!--//header-->
	<% if(typeof alert !='undefined' ) { %>
		<% alert.forEach(function(error) { %>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: firebrick;">
				<%= error.msg %>

			</div>
			<% }) %>
				<% } %>
					<!--main-->
					<main class="main">
						<div class="row white-bg">
							<!-- <div class="white-bg "> -->
							<div class="col-xl-4 col-lg-6 ">
								<div class="card l-bg-orange">
									<div class="card-statistic-3 p-4">
										<div class="card-icon card-icon-large"><i class="fas fa-plane"></i></div>
										<div class="mb-4">
											<h5 class="card-title mb-0">New flights</h5>
										</div>
										<div class="row align-items-center mb-2 d-flex">
											<div class="col-8">
												<h2 class="d-flex align-items-center mb-0">
													3,243
												</h2>
											</div>
										</div>
										<div class="progress mt-1 " data-height="8" style="height: 8px;">
											<div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%"
												aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
												style="width: 25%;"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6">
								<div class="card l-bg-green">
									<div class="card-statistic-3 p-4">
										<div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
										<div class="mb-4">
											<h5 class="card-title mb-0">Customers</h5>
										</div>
										<div class="row align-items-center mb-2 d-flex">
											<div class="col-8">
												<h2 class="d-flex align-items-center mb-0">
													15.07k
												</h2>
											</div>
										</div>
										<div class="progress mt-1 " data-height="8" style="height: 8px;">
											<div class="progress-bar l-bg-green" role="progressbar" data-width="25%"
												aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
												style="width: 25%;"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6">
								<div class="card l-bg-cyan">
									<div class="card-statistic-3 p-4">
										<div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
										<div class="mb-4">
											<h5 class="card-title mb-0">Ticket Resolved</h5>
										</div>
										<div class="row align-items-center mb-2 d-flex">
											<div class="col-8">
												<h2 class="d-flex align-items-center mb-0">
													578
												</h2>
											</div>
										</div>
										<div class="progress mt-1 " data-height="8" style="height: 8px;">
											<div class="progress-bar l-bg-orange" role="progressbar" data-width="25%"
												aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
												style="width: 25%;"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- </div> -->
						</div>

						<div id="booking" class="section">
							<div class="section-center">
								<div class="container">
									<div class="row">
										<div class="booking-form">
											<div class="booking-bg">
												<div class="form-header">
													<br>
													<br>
													<h2>Make your reservation</h2>
													<!-- <p>You can book plane tickets for your trips to all destinations in the world</p> -->
												</div>
											</div>
											<form id="main-search" method="post" action="/flight/flightOffer/">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<span class="form-label">Leaving from</span>
															<input class="form-control" type="text"
																placeholder="Specify airport" id="sourceFlight"
																name="sourceFlight" autocomplete="off" required>
															<input type="hidden" id="sourceFlightCode"
																name="sourceFlightCode" value="" />
															<div class="div-results-input" id="resultSourceFlightDiv">
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<span class="form-label">Going to</span>
															<input class="form-control" type="text"
																placeholder="Specify airport" id="destinationFlight"
																name="destinationFlight" autocomplete="off" required>
															<input type="hidden" id="destinationFlightCode"
																name="destinationFlightCode" value="">
															<div class="div-results-input"
																id="resultDestinationFlightDiv"></div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<span class="form-label">Departing on</span>
															<input class="form-control" type="date"
																id="datepickerSourceFlight"
																name="datepickerSourceFlight" required>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<span class="form-label">Adults</span>
															<input class="form-control" type="number" id="adultsFlight"
																name="adultsFlight" required>
														</div>
													</div>

												</div>
												<div class="form-btn">
													<button class="submit-btn" id="search-submit">Search</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--//search-->


						<div class="wrap">
							<div class="row">
								<!--deals-->
								<div class="full-width">
									<header class="s-title">
										<h2>Flights Search Results</h2>
									</header>

									<div class="deals flights">
										<div class="row">
											<!--deal-->
											<% if(typeof business !='undefined' ) { %>
												<% business.forEach((elt)=>{%>
													<!-- <li>Name: <%=elt.name%> -Distance: <%=elt.distance%>Km - Room Type: <%=elt.roomType%> - Price: <%=elt.price%>Euro</li>  -->

													<div class="containers">
														<% if(elt.numberOfBookableSeats_> 0) { %>
															<!-- Item for seats available -->
															<div class="item">
																<div class="item-right">
																	<img src="https://elasticbeanstalk-us-east-1-991586319498.s3.amazonaws.com/images/undraw_Aircraft_re_m05i.png"
																		alt="" width="2000px">
																	<h2 class="num">
																		<%= elt.price_.total_ %>
																	</h2>
																	<p class="day">Euros</p>
																	<span class="up-border"></span>
																	<span class="down-border"></span>
																</div> <!-- end item-right -->

																<div class="item-left">
																	<p class="event"> <i class="fa fa-map-marker"></i>
																		<%= elt.departure_.iataCode_ %> to <%=
																				elt.arrival_.iataCode_ %>
																	</p>
																	<h2 class="title">Company Airlines</h2>

																	<div class="sce">
																		<div class="icon">
																			<i class="fa fa-clock-o"></i>
																		</div>
																		<p>Leaves on<br> <b> <big>
																					<%= elt.departure_.at_ %>
																				</big> </b></p>
																	</div>
																	<div class="loc">
																		<div class="icon">
																			<i class="fa fa-clock-o"></i>
																		</div>
																		<p>Arrives on <br> <b> <big>
																					<%= elt.arrival_.at_ %>
																				</big> </b></p>
																	</div>
																	<div class="fix"></div>
																	<div class="loc">
																		<div class="icon">
																			<i class="fa fa-pause"></i>
																		</div>
																		<p>Seats left : <b> <big>
																					<%= elt.numberOfBookableSeats_ %>
																				</big> </b></p>
																	</div>
																	<!-- <form
																		action="/flight/bookFlight?flight=<%=elt.original%>&iataCode=<%=elt.arrival_.iataCode_ %>">
																		<button class="booked"> <i
																				class="fa fa-dollar"></i> Book</button>
																	</form> -->
																	<a href="/flight/bookFlight?flight=<%=elt.original %>&iataCode=<%=elt.arrival_.iataCode_ %>"
																		title="Book Flight" class="booked"> <i
																			class="fa fa-dollar"></i> Book
																	</a>

																</div> <!-- end item-right -->
															</div>
															<% } else { %>
																<!-- Item for seats left empty -->
																<div class="item">
																	<div class="item-right">
																		<img src="https://elasticbeanstalk-us-east-1-991586319498.s3.amazonaws.com/images/undraw_Aircraft_re_m05i.png"
																			alt="" width="150px">
																		<h2 class="num">152,65</h2>
																		<p class="day">Euros</p>
																		<span class="up-border"></span>
																		<span class="down-border"></span>
																	</div>

																	<div class="item-left">
																		<p class="event"> <i
																				class="fa fa-map-marker"></i> SEA to DTW
																		</p>
																		<h2 class="title">Spirit Airlines</h2>

																		<div class="sce">
																			<div class="icon">
																				<i class="fa fa-clock-o"></i>
																			</div>
																			<p>Leaves on<br> <b> <big> 2022-09-12 At
																						10:10pm</big> </b></p>
																		</div>
																		<div class="loc">
																			<div class="icon">
																				<i class="fa fa-clock-o"></i>
																			</div>
																			<p>Arrives on <br> <b> <big> 2022-09-14 At
																						00:34pm</big> </b></p>
																		</div>
																		<div class="fix"></div>
																		<div class="loc">
																			<div class="icon">
																				<i class="fa fa-pause"></i>
																			</div>
																			<p>Numbers of stops : <b> <big> 3</big> </b>
																			</p>
																		</div>
																		<button class="cancel"> <i
																				class="fa fa-ban"></i> Booked</button>
																	</div>
																</div>
																<% } %>

													</div>


													<!-- <article class="one-fourth">
														<div class="details">

															<h3>
																<%= elt.departure_.iataCode_ %> to
																	<%= elt.arrival_.iataCode_ %>
															</h3>
															<span class="price">Seats Left: <em>
																	<%= elt.numberOfBookableSeats_ %>
																</em> </span>
															<span class="price">Price <em>
																	<%= elt.price_.total_ %> Euros
																</em> </span>
															<span class="price">Leaves on <em>
																	<%= elt.departure_.at_ %>
																</em> </span>
															<span class="price">Arrives on <em>
																	<%= elt.arrival_.at_ %>
																</em> </span>
															<h3>
																----------ITINERARY----------
															</h3>
															<% elt.itineraries_.forEach((itinerary)=>{%>

																<% itinerary.segments_.forEach((segment)=>{%>

																	<h3>
																		<%= segment.departure_.iataCode_ %> to
																			<%= segment.arrival_.iataCode_ %>
																	</h3>
																	<span class="price">Operated By: <em>
																			<%= segment.carrierName_ %>
																		</em> </span>
																	<span class="price">Duration <em>
																			<%= segment.duration_ %>
																		</em> </span>
																	<span class="price">Number of Stops <em>
																			<%= segment.numberOfStops_ %>
																		</em> </span>
																	<span class="price">Leaves on <em>
																			<%= segment.departure_.at_ %>
																		</em> </span>
																	<span class="price">Arrives on <em>
																			<%= segment.arrival_.at_ %>
																		</em> </span>
																	<%});%>
																		<%});%>

																			<a href="/flight/bookFlight?flight=<%=elt.original %>&iataCode=<%=elt.arrival_.iataCode_ %>"
																				title="Book Flight"
																				class="gradient-button">Book
																			</a>
														</div>
													</article> -->


													<%});%>
														<% } %>
															<!--//deal-->
										</div>

									</div>

								</div>
							</div>
							<!--//top destinations-->
						</div>
					</main>
					<!--//main-->

					<%- include('footer'); -%>